.input-icons i { 
    /*position: absolute; */
} 
  
.input-icons { 
    width: 100%;
    direction: ltr;
    text-align: right;
    padding: 10px;
} 
  
.icon { 
    padding: 10px; 
    min-width: 40px; 
} 
  
.input-field { 
    width: 100%; 
    padding: 10px; 
    border-radius:100px;
    text-align:right;
} 
input{
    width: 80%;
    direction: rtl;
    text-align: right;
}
button{
    width: 20%;
    height: 28px;
}