<br><br><br><br>
<div>
    <button (click)="yyIsWantCookies()">{{btnText}}</button>
    'שמירת נתונים מאתר זה על גבי 'זיכרון עוגיות
</div>
<div *ngIf="btnText == 'ביטול שמירה'" id="theList">
    <br>
    <h2>רשימת שיעורי חת"ת שנשמרו</h2>
    <table>
        <tr>
            <th class="cell-table btn"> </th>
            <th class="cell-table type">תגית</th>
            <th class="cell-table-big">שם השיעור</th>
            <th class="cell-table index"> </th>
        </tr>
        <tr class="row-table yyAllLessons" *ngFor="let item of AllChitatLessons; let i = index">
            <td class="cell-table index"> <button (click)="yySpecificLesson(item,'Chitat')">מחק </button> </td>
            <td class="cell-table type">{{item['Type']}}</td>
            <td class="cell-table-big"><a href="{{item['Url']}}" target="_blank"> {{item['Name']}}</a></td>
            <td class="cell-table index"> {{i+1}}</td>
        </tr>
    </table>
    <br><br><br><br>
    <h2>רשימת שיעורים שנשמרו מהמדרשה</h2>
    <table>
        <tr>
            <th class="cell-table type">תגית</th>
            <th class="cell-table-big">שם השיעור</th>
            <th class="cell-table index"> </th>
            <th class="cell-table btn"> </th>
        </tr>
        <tr class="row-table yyAllLessons" *ngFor="let item of AllMidrashaLessons; let i = index">
            <td class="cell-table index"> <button (click)="yySpecificLesson(item,'Midrasha')">מחק</button> </td>
            <td class="cell-table type">{{item['Name']}}</td>
            <td class="cell-table-big"><a href="{{item['Url']}}" target="_blank"> {{item['Type']}}</a></td>
            <td class="cell-table index"> {{i+1}} </td>
            <th class="cell-table btn"> </th>
        </tr>
    </table>
</div>