
.msg{
    float: right;
    width: 57%;
    margin: 0% 20%;
    border: 5px solid white;
    border-radius: 5px;
}
.card{
    text-align: left;
    background-color: white;
    margin: 5px;
    left: 20px;
}
.audio{
    text-align: left;
}
.label, .content{
    text-align: right;
}
.date{
    text-align: center;
}
.date p{
    background-color: rgba(225,245,254,.92);
    width: 40%;
    border: 5px;
    border-radius: 5px;
    margin: 10px 30%;
}
@media only screen and (max-width: 600px) 
{
    .msg {
        float: right;
        width: 92%;
        margin: 0% 2%;
        border: 5px solid white;
        border-radius: 5px;
    }
}