<!--a href="/midrasha">מעבר למדרשה הדיגיטלית</a-->
<!--a (click)="goToMidrshae();">למעבר למדרשה הדיגיטלית ליחצו כאן</a-->
<br><br>
<div class="date">
    <p id="showDate">היום</p>
</div>
<div class="msg">
    <div *ngFor="let lesson1 of AllLessons" class="card">
        <div class='lesson' >
            <div class="label">
                <label><h3>{{lesson1['sug']}} {{lesson1['title']}}</h3></label>
            </div>
            <div class="content">
                <p>{{lesson1['mydesc']}}</p><br>
            </div>
            <div class="link">
                <p>{{lesson1['audio']}}</p><br>
            </div>
            <div class="audio">
                <audio controls name="media">
                    <source src='{{lesson1["audio"]}}' type="audio/mp3">
                </audio>
            </div>
               <div class="cell-table index"> <button (click)="yySaveInCookie({Name:lesson1['title'],Url:lesson1['audio'],Type:lesson1['sug']},'chitat')">שמירה</button> </div>
            <p style="display:none;">{{lesson1["date"]}}</p>
        </div>
    </div>
</div>