<!--chitat -->
<div class="w3-third w3-right"><!--TODO:COMPONNET-->
    <div id="row-whatsapp" class="w3-center">
        <h3>
            <a class="w3-center fa" id="linkWhatapp"  href="https://chat.whatsapp.com/I29iEy4gsT9FeUkYL9HF3A">
                &#xf232;
                לחצו לקבלת חת"ת יומי לווצאפ
            </a>
        </h3>  
    </div>
    <div class="date w3-row"><!--TODO:COMPONNET-->
        <h3>
            <div class="w3-third w3-cell w3-left" id="leftArrow" (click)="nextDate();">
                <i style="font-size:24px" class="fa">&#xf0d9;</i>
            </div>
            <div class="w3-cell w3-center w3-third" id="HebrewDate" style="padding-top: 5px;">
                <p id="showDate"> {{this.currentHebrewDate.day_in_month_hebrew_letter + " " +this.currentHebrewDate.month_name_hebrew_letter + " " + this.currentHebrewDate.year_hebrew_letter}}</p>
                <i class="fa fa-calendar-o" aria-hidden="true"></i>
            </div>
            <div class="w3-third w3-cell w3-right" id="rightArrow" (click)="PreviusDate();">
                <i style="font-size:24px" class="fa">&#xf0da;</i>
            </div>
        </h3>
    </div>
    
    <div *ngFor="let lesson1 of AllLessons; let i = index;first as isFirst" class="row">
        <div class="lesson" [id]="'id'+i" (click) = "toggleDisplay(lesson1, 'id'+i)">
            <div *ngIf="lesson1['sug'] != null">
                <div class='yylabel'><h3>{{lesson1['sug']}}</h3></div>
            </div>
            <div class='yyAud'><app-audio-comps [srcAudio]=getSrcAudio></app-audio-comps></div>
        </div>
    </div>
</div>
<div class="text w3-twothird w3-panel w3-left" id="descriptionArea">
    <div class="w3-row">
        <div >
            <label><h3>{{yyOneLesson['sug']}} {{yyOneLesson['title']}}</h3></label>
        </div>
    </div>
    <div class="w3-row">
        <p>{{yyOneLesson['text']}}</p>
    </div>
</div>
        

