<div class="w3-bar w3-border-bottom w3-light-grey intronav" style="text-align:center">
  <h3>שיעורים מאת הרב נדב כהן</h3>
  <nav>
    <a class="w3-bar-item w3-button testbtn" routerLink="/chitat" routerLinkActive="active">חת"ת יומי</a>
    <a class="w3-bar-item w3-button testbtn" routerLink="/midrasha" routerLinkActive="active">מדרשה דיגיטלית</a>
    <a class="w3-bar-item w3-button testbtn" routerLink="/midrasha-yomit" routerLinkActive="active">מדרשה יומית</a>
    <a class="w3-bar-item w3-button testbtn" routerLink="/midrasha" routerLinkActive="active" style="display:none">שאלות ותשובות על החתת היומי</a>
  </nav>
</div>
<div>
  <router-outlet></router-outlet>
</div>