<div class="w3-cell-row w3-blue">
  <h3 id="cotar-nav" class="w3-right" >
    <p>לחיות עם הזמן</p>
  </h3>
  <nav class="w3-center">
    <a class="w3-bar-item w3-button testbtn" routerLink="/chitat" routerLinkActive="active">
      <img src="//tanyayomi.com/yy/icons/tab_Daily.png" />חתת יומי
    </a>
    <a class="w3-bar-item w3-button testbtn" routerLink="/midrasha" routerLinkActive="active">
      <img src="//tanyayomi.com/yy/icons/tab_Lesson.png" />מדרשה דיגיטלית
    </a>
    <a class="w3-bar-item w3-button testbtn" routerLink="/midrasha-yomit" routerLinkActive="active">
      <img src="//tanyayomi.com/yy/icons/tab_Lesson.png" />מדרשה יומית
    </a>
    <!--a class="w3-bar-item w3-button testbtn" routerLink="/midrasha" routerLinkActive="active" style="display:none">שאלות ותשובות על החתת היומי</a-->
    <a class="w3-bar-item w3-button testbtn" routerLink="/" routerLinkActive="active">
      <img src="//tanyayomi.com/yy/icons/tab_Books.png" />ספרים מומלצים
    </a>
    <a class="w3-bar-item w3-button testbtn" routerLink="/" routerLinkActive="active">
      <img src="//tanyayomi.com/yy/icons/tab_Lectures.png" />הרצאות
    </a>
  </nav>
</div>
<div>
  <router-outlet></router-outlet>
</div>