<div class="w3-twothird w3-right">
<h2 class="w3-right">הרצאות מומלצות</h2>
<div class="w3-cell w3-left">
    <div class="w3-row">
        <div class="w3-cell">
            <h5>מודעות יהודית - לחיות תניא</h5>
            <p>
                הרצאה שתשנה לכם את החיים
                בספר התניא ניתן למצוא תשובות לכל השאלות, אך כיצד מורידים זאת
                לחיי היום יום? בהרצאה נלמד כיצד לקחת את הרעיונות העמוקים ביותר
                וליישם באופן יומיומי בחינוך, זוגיות, קריירה ועוד
            </p>
        </div>
    </div>
    <div class="w3-row">
        <div class="w3-cell">
            <h5>מן המיצר אל המרחב</h5>
            <p>
                סדנא ייחודית
                לכולנו יש מיצרים בחיים, אך כיצד יוצאים מהם? בסדנא זו נקבל כלים
                מעשיים כיצד לצאת מהמיצרים
            </p>
        </div>
    </div>
    <div class="w3-row">
        <div class="w3-cell">
            <h5>קיצור תניא</h5>
            <p>
                בליווי מצגת
                הרצאה מרתקת משולבת בסיפורים רבים בה נלמד את מבנה ספר
                התניא וסדר העניינים, אחרי ההרצאה נוכל לגשת לכל פרק בתניא
                ולהבין בקלות
            </p>
        </div>
    </div>
</div>
</div>
<div class="w3-third w3-right">
    <div class="w3-left w3-round-xxlarge" id="for-Buy">
        &nbsp;
        להזמנות
        &nbsp;
        <!--span style='font-size:40px;'>&#9993;</span-->
        9770959 - 054
        &#9743;
    </div>
</div>