#lesson{
    margin: 0px auto;
}
.row-table{
    width:400px;
}
.cell-table{
    margin:5px;
    right:0px;
    width:20px;
}
.cell-table-big{
    right:0px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
th, td{
    text-align:right !important;
}
table{width:100%;}

