#lesson{
    margin: 0px auto;
}
.row-table{
    width:400px;
}
.cell-table{
    margin:5px;
    right:0px;
    width:20px;
}
.cell-table-big{
    right:0px;
}
th, td{
    text-align:right !important;
}
table{width:100%;}
@media screen and (min-width:600px){
    .w3-third{
        background-color: #dadada;
    }
}
tr{
    border-bottom-width:1px;
    border-bottom-style: solid;
    border-bottom-color:black;
}


