<p>controlpanel works!</p>
<input type="radio" name="userSelectDate" (click)='resend("yestuday")' [(ngModel)]="userPressDate" id="yestuday" value="yestuday">
<label for="yestuday">yestuday</label>
<input type="radio" name="userSelectDate" (click)='resend("today")' [(ngModel)]="userPressDate" id="today" value="today">
<label for="today">today</label>
<input type="radio" name="userSelectDate" (click)='resend("tomoro")' [(ngModel)]="userPressDate" id="tomoro" value="yestoday">
<label for="yestoday">tomoro</label>
