<!--a href="/chitat">מעבר לשיעורי החת"ת</a-->
<!--a (click)="goToChitat()">למעבר לשיעורי החת"ת ליחצו כאן</a-->
<br><br>
<!--div>
  <panel search
    <input id="autocomplate" type="text" (keyup)="onKey($event)">
    <label for="autocomplate">:חיפוש שיעור</label>

    <h2>תוצאות החיפוש</h2>
    <div *ngIf="Lessons">
      {{nameToReq}} :
    </div>
  </div> -->

<div id="theList">
  <br>
  <h2>רשימת השיעורים המלאה</h2>
  <table>
    <tr>
      <th class="cell-table index"> </th>
      <th class="cell-table type">תגית</th>
      <th class="cell-table-big">שם השיעור</th>
      <th class="cell-table index"> </th>
    </tr>
    <tr class="row-table yyAllLessons" *ngFor="let item of AllLessons; let i = index">
      <td class="cell-table index"> <button (click)="yySaveInCookie({Name:lesson1['title'],Url:lesson1['link'],Type:lesson1['sug']})">שמירה</button> </td>
      <td class="cell-table type">{{item['sug']}}</td>
      <td class="cell-table-big"><a href="{{item['link']}}" target="_blank"> {{item['title']}}</a></td>
      <td class="cell-table index"> {{i+1}} </td>
    </tr>
  </table>
</div>