<a href="/chitat">מעבר לשיעורי החת"ת</a>
<br><br>
  <!--div style="display: none;">
    panel search >
    <input id="autocomplate" type="text" (keyup)="onKey($event)">
    <label for="autocomplate">:חיפוש שיעור</label>

  

    <h2>תוצאות חיפוש</h2>
    
      {{nameToReq}} :
      <div id="yylinkResult" *ngFor="let item1 of Lessons; let i = index">
        {{index}} <a href="{{item1.LessonUrl1[index]}}" target="_blank"> {{item1.LessonName1[index]}}</a><br>
      </div>
  </div-->

  <div id="theList">
    <br>
    <h2>רשימת השיעורים המלאה</h2>
    <div>
      <div id="yyleft" *ngFor="let item of AllLessons; let i = index">
        {{index}} <a href="{{item['link']}}" target="_blank"> {{item['title']}}</a><br>
      </div>
    </div>
  </div>