<a href="/chitat">מעבר לשיעורי החת"ת</a>
<br><br>
<!-- panel search -->
<input id="autocomplate" type="text" (keyup)="onKey($event)">
<label for="autocomplate">:חיפוש שיעור</label>

  <div id="theList">
    <h2>הבחירה שלך</h2>
    <p>
      {{nameToReq}} : {{Lessons}}
    </p>
    
    <br>
    <h2>הרשימה המלאה</h2>
    <div>
      <div id="yyleft" *ngFor="let item of AllLessons; let i = index">
        {{index}} <a href="{{item['link']}}" target="_blank"> {{item['title']}}</a><br>
      </div>
    </div>
  </div>