<p>midrasha works!</p>
<!-- panel search -->
<label for="autocomplate">חיפוש שיעור</label>
<input id="autocomplate" type="text" (keyup)="onKey($event)">

  <div id="theList">
    <h2>הבחירה שלך</h2>
  
    <p>
      {{nameToReq}} : {{Lessons}}
    </p>

    <br>
    <h2>הרשימה המלאה</h2>
    <div>
      <div id="yyleft" *ngFor="let item of AllLessons; let i = index">
        {{index}} <a href="{{item['link']}}" > {{item['title']}}</a><br>
      </div>
    </div>
  
    <a>מעבר לשיעורי החת"ת</a>
  </div>