<div class="w3-table">
  <div class="w3-row yy-dark-Blue">
    <div id="cotar-nav" class="w3-right" >
      <a href="//tanyayomi.com/yy/ClientTania/chitat">
        <img src="assets/images/Live_w_Time.png">
      </a>
    </div>
    <nav class="w3-center">
      <a class="w3-bar-item w3-button testbtn" routerLink="chitat" routerLinkActive="active" (click)="yyChitatComponent()">
        <img class="yy5MarginTop" src="//tanyayomi.com/yy/icons/tab_Daily.png" />
        <h5 class="w3-left">חתת<br>יומי</h5>
      </a>
      <a class="w3-bar-item w3-button testbtn yyPading16" routerLink="midrasha" routerLinkActive="active" (click)="yyMidrashaComponent()"><!--routerLink="midrasha"-->
        <img id="lessonPicture" src="//tanyayomi.com/yy/icons/tab_Lesson.png" />
        <h5 class="w3-left">שיעורים</h5>
      </a>
      <a class="w3-bar-item w3-button testbtn" (click)="ManualRouterToBooks()"><!-- routerLink="/buyBooks" routerLinkActive="notactiv"-->
        <img class="yy5MarginTop" src="//tanyayomi.com/yy/icons/tab_Books.png" />
        <h5 class="w3-left">ספרים<br>מומלצים</h5>
      </a>
      <a class="w3-bar-item w3-button testbtn yyPading16" (click)="ManualRouterToLectures()" ><!--routerLink="/buyLectures" routerLinkActive="active"-->
        <img id="LecturesImg" src="//tanyayomi.com/yy/icons/tab_Lectures.png" />
        <h5 class="w3-left">הרצאות</h5>
      </a>
    </nav>
  </div>
  <div class="yyLeftDirection">
    <div class="w3-twothird yyAbselute">
      <div class="yyRightDirection" #popCom id="popCom">
        <app-buy-books  *ngIf="this.yyRouterbuyBooks" class="w3-panel w3-left popCom"></app-buy-books>
        <app-buy-lectures *ngIf="this.yyRouterbuyLectures" class="w3-panel w3-left popCom"></app-buy-lectures>
      </div>
    </div>
  </div>
  <div class="w3-row yy-height100-parsent yyMinHeight860px" id="yyRout">
    <router-outlet></router-outlet>
  </div>
</div>