<div class="w3-table">
  <div class="w3-row w3-blue">
    <h3 id="cotar-nav" class="w3-right" >
      <a href="//tanyayomi.com/yy/ClientTania/chitat">
        <img id="MainLogo" class="w3-right" src="assets/images/tyLogo.ico">
        <h5 class="w3-left">לחיות עם הזמן</h5>
        <h6> עם הרב נדב</h6>
      </a>
    </h3>
    <nav class="w3-center">
      <a class="w3-bar-item w3-button testbtn" routerLink="chitat" routerLinkActive="active" (click)="yyChitatComponent()">
        <img src="//tanyayomi.com/yy/icons/tab_Daily.png" />
        <h5 class="w3-left">חתת<br>יומי</h5>
      </a>
      <a class="w3-bar-item w3-button testbtn" routerLink="midrasha" routerLinkActive="active" (click)="yyMidrashaComponent()">
        <img src="//tanyayomi.com/yy/icons/tab_Lesson.png" />
        <h5 class="w3-left">שיעורים</h5>
      </a>
      <a class="w3-bar-item w3-button testbtn" (click)="ManualRouterToBooks()"><!-- routerLink="/buyBooks" routerLinkActive="notactiv"-->
        <img src="//tanyayomi.com/yy/icons/tab_Books.png" />
        <h5 class="w3-left">ספרים<br>מומלצים</h5>
      </a>
      <a class="w3-bar-item w3-button testbtn" (click)="ManualRouterToLectures()" ><!--routerLink="/buyLectures" routerLinkActive="active"-->
        <img src="//tanyayomi.com/yy/icons/tab_Lectures.png" />
        <h5 class="w3-left">הרצאות</h5>
      </a>
    </nav>
  </div>
  <div class="yyLeftDirection">
    <div class="w3-twothird yyAbselute">
      <div class="yyRightDirection" #popCom>
        <app-buy-books *ngIf="this.yyRouterbuyBooks" class="w3-panel w3-left"></app-buy-books>
        <app-buy-lectures *ngIf="this.yyRouterbuyLectures" class="w3-panel w3-left"></app-buy-lectures>
      </div>
    </div>
  </div>
  <div class="w3-row" id="yyRout">
    <router-outlet></router-outlet>
  </div>
</div>