<h2>ספרים מומלצים</h2>
<div class="w3-table">
    <div class="w3-row">
        <div class="w3-cell">
            <img src="//tanyayomi.com/yy/icons/tab_Books.png" />
        </div>
        <div class="w3-cell">
            <img src="//tanyayomi.com/yy/icons/tab_Books.png" />
        </div>
        <div class="w3-cell">
            <img src="//tanyayomi.com/yy/icons/tab_Books.png" />
        </div>
    </div>
    <div class="w3-row">
        <div class="w3-cell">
            <img src="//tanyayomi.com/yy/icons/tab_Books.png" />
        </div>
        <div class="w3-cell">
            <img src="//tanyayomi.com/yy/icons/tab_Books.png" />
        </div>
        <div class="w3-cell">
            <img src="//tanyayomi.com/yy/icons/tab_Books.png" />
        </div>
    </div>
    <div class="w3-row">
        <div class="w3-cell">
            <img src="//tanyayomi.com/yy/icons/tab_Books.png" />
        </div>
        <div class="w3-cell">
            <img src="//tanyayomi.com/yy/icons/tab_Books.png" />
        </div>
        <div class="w3-cell">
            <img src="//tanyayomi.com/yy/icons/tab_Books.png" />
        </div>
    </div>
</div>
