<div class="w3-twothird w3-right">
    <div class="w3-row">
        <h2>ספרים מומלצים</h2>
    </div>
    <div class="w3-row-padding">
        <div class="image-txt-container">
            <img src="//tanyayomi.com/yy/books/book1.jpeg" />
            <p>
                ספר שכל אחד
                חייב לקרוא אותו.
                ספר מושקע וערוך היטב
            </p>
        </div>
        <div class="image-txt-container">
            <img src="//tanyayomi.com/yy/books/book2.jpeg" />
            <p>
                ספר שכל אחד
                חייב לקרוא אותו.
                ספר מושקע וערוך היטב
            </p>
        </div>
    </div>
    <div class="w3-row-padding">
        <div class="image-txt-container">
            <img src="//tanyayomi.com/yy/books/book3.jpeg" />
            <p>
                ספר שכל אחד
                חייב לקרוא אותו.
                ספר מושקע וערוך היטב
            </p>
        </div>
        <div class="image-txt-container">
            <img  src="//tanyayomi.com/yy/books/book4.jpeg" />
            <p>
                רציתי לומר לך שהספר "מודעות יהודית" שלך מחזק אותי כל כך. הוא ללא ספק הספר הכי חשוב שאי פעם קראתי.
                יישר כח.
                עמית
                <br>
                רציתי לומר לך שקניתי את הספר שלך מודעות יהודית ואני כבר בשליש הספר והוא פשוט מצויין!!! חושבת שכל אחד
                חייב לקרוא אותו.
                שני
            </p>
        </div>
    </div>
    <div class="w3-row-padding">
        <div class="image-txt-container">
            <img src="//tanyayomi.com/yy/books/book5.jpeg" />
            <p>
                ספר שכל אחד
                חייב לקרוא אותו.
                ספר מושקע וערוך היטב
            </p>
        </div>
        <div class="image-txt-container">
            <img src="//tanyayomi.com/yy/books/book6.jpeg" />
            <p>
                ספר שכל אחד
                חייב לקרוא אותו.
                ספר מושקע וערוך היטב
            </p>
        </div>
    </div>
    <div class="w3-row-padding">
        <div class="image-txt-container">
            <img src="//tanyayomi.com/yy/books/book7.jpeg" />
            <p>
                ספר שכל אחד
                חייב לקרוא אותו.
                ספר מושקע וערוך היטב
            </p>
        </div>
        <div class="image-txt-container">
            <img src="//tanyayomi.com/yy/books/book8.jpeg" />
            <p>
                ספר שכל אחד
                חייב לקרוא אותו.
                ספר מושקע וערוך היטב
            </p>
        </div>
    </div>
</div>
<div class="w3-third w3-right">
    <div class="w3-left w3-round-xxlarge" id="for-Buy">
        <!--div class="w3-right">
           <img src="https://tanyayomi.com/yy/icons/order.bmp">
        </div-->
        &nbsp;
        להזמנות
        &nbsp;
        <!--span style='font-size:40px;'>&#9993;</span-->
        977700959 - 054
        &#9743;
    </div>
</div>