#lesson{
    background-color: white !important;/*TODO: is need important*/
    margin: 0px auto;
}
.row-table{
    width:400px;
}
.cell-table{
    margin:5px;
    right:0px;
    width:20px;
}
.cell-table-big{
    right:0px;
}
.row h3{
    padding-top: 8px;
    margin-block-start: 0em;
}
th, td{
    text-align:right !important;
}
table{width:100%;}
@media screen and (min-width:600px){
    /*.w3-third{
        background-color: #dadada;
    }*/
    #descriptionArea{
        background-color: white;
    }
}
tr{
    border-bottom-width:1px;
    border-bottom-style: solid;
    border-bottom-color:black;
}
#row-whatsapp h3{
    margin: -2px 0 0 0;
}
#tableParasha{
    direction: rtl;
    text-align: right;
    padding: 4px;
    padding-right: 5px;
}
#tableParasha div{
    float: right;
}
.w3-col.m2.w3-center{
    margin:0 1%;
}
div.w3-row{
    width: 100%;
}
/*#wrap-app-sreach-comps{
    width: 100%;
    border-bottom: gray 1px solid;
}*/