
<div id="theList" class="w3-third w3-right">
  <h2 style="height: 30px;">רשימת השיעורים המלאה</h2>
  <div id="row-whatsapp" class="w3-center lesson">
    <h3>
      <a class="w3-center fa" id="linkWhatapp"  href="https://chat.whatsapp.com/FZjM4iESdL71p7uctLrN3M">
        &#xf232;
        לחצו לקבלת שיעורים חדשים לווצאפ
      </a>
    </h3>
  </div>

  <div class="row">
    <div class="lesson" id="id1" (click) = "toggleDisplay()">
        <div class="yy1Label">
            <div class='yylabel'><h3>חומש לדוגמה</h3></div>
        </div>
        <div class='yyAud'><app-audio-comps [srcAudio]=getSrcAudio></app-audio-comps></div>
    </div>
  </div>
</div>
<!-- class=w3-twothird yy-height100-parsent yyMinHeight860px-->
<div class="text w3-twothird w3-panel w3-left" id="descriptionArea" (click)=playMidrasha() >
  <div class="w3-third w3-left" id='wrap-app-sreach-comps'>
    <app-sreach-comps></app-sreach-comps>
  </div>
  <div class="" id="humashExample">
    <div id="tableParasha" class="w3-twothird">
      <h2>חומש</h2>
      <div class="w3-row">
          <div class="w3-col m2" >
            <h4>בראשית</h4> 
            <h6>בראשית</h6>
            <h6>נח</h6> 
            <h6>לך לך</h6> 
            <h6>וירא</h6> 
            <h6>חיי שרה</h6> 
            <h6>תולדות</h6> 
            <h6>ויצא</h6> 
            <h6>וישלח</h6> 
            <h6>וישב</h6> 
            <h6>מקץ</h6>
            <h6>וישב</h6> 
            <h6>ויגש</h6> 
            <h6>ויחי</h6> 
          </div>

          <div class="w3-col m2" >
            <h4>שמות</h4> 
            <h6>שמות</h6> 
            <h6>וארא</h6> 
            <h6>בא</h6> 
            <h6>בשלח</h6> 
            <h6>יתרו</h6> 
            <h6>משפטים</h6> 
            <h6>תרומה</h6> 
            <h6>תצוה</h6> 
            <h6>כי תישא</h6> 
            <h6>ויקהל</h6> 
            <h6>פקודי</h6> 
          </div>

          <div class="w3-col m2" >
            <h4>ויקרא</h4> 
            <h6>ויקרא</h6> 
            <h6>צו</h6> 
            <h6>שמיני</h6> 
            <h6>תזריע</h6> 
            <h6>מצורע</h6> 
            <h6>אחרי מות</h6> 
            <h6>קדושים</h6> 
            <h6>אמור</h6> 
            <h6>בהר</h6> 
            <h6>בחוקתי</h6> 
          </div>

          <div class="w3-col m2" >
            <h4>במדבר</h4> 
            <h6>במדבר</h6> 
            <h6>נשא</h6> 
            <h6>בהעלותך</h6> 
            <h6>שלח</h6> 
            <h6>קרח</h6> 
            <h6>חקת</h6> 
            <h6>בלק</h6> 
            <h6>פנחס</h6> 
            <h6>מטות</h6> 
            <h6>מסעי</h6> 
          </div>

          <div class="w3-col m2" >
            <h4>דברים</h4> 
            <h6>דברים</h6> 
            <h6>ואתחנן</h6> 
            <h6>עקב</h6> 
            <h6>ראה</h6> 
            <h6>שופטים</h6> 
            <h6>כי תצא</h6> 
            <h6>כי תבוא</h6> 
            <h6>ניצבים</h6> 
            <h6>וילך</h6> 
            <h6>האזינו</h6> 
            <h6>וזאת הברכה</h6> 
          </div>

        </div>
      </div>
    <div id="descriptionLesson" class="">
      <div class="w3-row">
        <div>
          <label>
            <h3>חומש פרשת אחרי-קדושים - יום ראשון</h3>
          </label>
        </div>
      </div>
      <p>
      פרק טז (א) וַיְדַבֵּר יְ־הֹוָ־ה אֶל מֹשֶׁה אַחֲרֵי מוֹת שְׁנֵי בְּנֵי אַהֲרֹן בְּקָרְבָתָם לִפְנֵי יְ־הֹוָ־ה וַיָּמֻתוּ:
      (א) וידבר ה' אל משה אחרי מות שני בני אהרן וגו' - מה תלמוד לומר, היה רבי אלעזר בן עזריה מושלו משל לחולה שנכנס אצלו רופא. אמר לו אל תאכל צונן ואל תשכב בטחב. בא אחר ואמר לו אל תאכל צונן ואל תשכב בטחב שלא תמות כדרך שמת פלוני. זה זרזו יותר מן הראשון, לכך נאמר אחרי מות שני בני אהרן:
      (ב) וַיֹּאמֶר יְ־הֹוָ־ה אֶל מֹשֶׁה דַּבֵּר אֶל אַהֲרֹן אָחִיךָ וְאַל יָבֹא בְכָל עֵת אֶל הַקֹּדֶשׁ מִבֵּית לַפָּרֹכֶת אֶל פְּנֵי הַכַּפֹּרֶת אֲשֶׁר עַל הָאָרֹן וְלֹא יָמוּת כִּי בֶּעָנָן אֵרָאֶה עַל הַכַּפֹּרֶת:
      (ב) ויאמר ה' אל משה דבר אל אהרן אחיך ואל יבא - שלא ימות כדרך שמתו בניו: ולא ימות - שאם בא הוא מת: כי בענן אראה - כי תמיד אני נראה שם עם עמוד ענני. ולפי שגלוי שכינתי שם, יזהר שלא ירגיל לבא, זהו פשוטו. ומדרשו לא יבא כי אם בענן הקטרת ביום הכיפורים:
      (ג) בְּזֹאת יָבֹא אַהֲרֹן אֶל הַקֹּדֶשׁ בְּפַר בֶּן בָּקָר לְחַטָּאת וְאַיִל לְעֹלָה:
      (ג) בזאת - גימטריא שלו ארבע מאות ועשר, רמז לבית ראשון: בזאת יבא אהרן וגו' - ואף זו לא בכל עת, כי אם ביום הכיפורים, כמו שמפורש בסוף הפרשה (פסוק כט) בחדש השביעי בעשור לחודש:
      (ד) כְּתֹנֶת בַּד קֹדֶשׁ יִלְבָּשׁ וּמִכְנְסֵי בַד יִהְיוּ עַל בְּשָׂרוֹ וּבְאַבְנֵט בַּד יַחְגֹּר וּבְמִצְנֶפֶת בַּד יִצְנֹף בִּגְדֵי קֹדֶשׁ הֵם וְרָחַץ בַּמַּיִם אֶת בְּשָׂרוֹ וּלְבֵשָׁם:
      (ד) כתנת בד וגו' - מגיד שאינו משמש לפנים בשמונה בגדים שהוא משמש בהם בחוץ, שיש בהם זהב, לפי שאין קטיגור נעשה סניגור, אלא בארבעה, ככהן הדיוט, וכולן של בוץ: קדש ילבש - שיהיו משל הקדש: יצנף - כתרגומו יחית ברישיה, יניח בראשו, כמו (בראשית לט טז) ותנח בגדו ואחתתיה: ורחץ במים - אותו היום טעון טבילה בכל חליפותיו. וחמש פעמים היה מחליף מעבודת פנים לעבודת חוץ ומחוץ לפנים, ומשנה מבגדי זהב לבגדי לבן ומבגדי לבן לבגדי זהב, ובכל חליפה טעון טבילה ושני קדושי ידים ורגלים מן הכיור:
      (ה) וּמֵאֵת עֲדַת בְּנֵי יִשְׂרָאֵל יִקַּח שְׁנֵי שְׂעִירֵי עִזִּים לְחַטָּאת וְאַיִל אֶחָד לְעֹלָה:
       
      (ו) וְהִקְרִיב אַהֲרֹן אֶת פַּר הַחַטָּאת אֲשֶׁר לוֹ וְכִפֶּר בַּעֲדוֹ וּבְעַד בֵּיתוֹ:
      (ו) את פר החטאת אשר לו - האמור למעלה. ולמדך כאן שמשלו הוא בא, ולא משל צבור: וכפר בעדו ובעד ביתו - מתודה עליו עונותיו ועונות ביתו:
      (ז) וְלָקַח אֶת שְׁנֵי הַשְּׂעִירִם וְהֶעֱמִיד אֹתָם לִפְנֵי יְ־הֹוָ־ה פֶּתַח אֹהֶל מוֹעֵד:
       
      (ח) וְנָתַן אַהֲרֹן עַל שְׁנֵי הַשְּׂעִירִם גּוֹרָלוֹת גּוֹרָל אֶחָד לַי־הֹוָ־ה וְגוֹרָל אֶחָד לַעֲזָאזֵל:
      (ח) ונתן אהרן על שני השעירים גרלות - מעמיד אחד לימין ואחד לשמאל, ונותן שתי ידיו בקלפי ונוטל גורל בימין וחברו בשמאל, ונותן עליהם, את שכתוב בו לשם הוא לשם, ואת שכתוב בו לעזאזל משתלח לעזאזל: עזאזל - הוא הר עז וקשה, צוק גבוה, שנאמר (פסוק כב) ארץ גזרה, חתוכה:
      (ט) וְהִקְרִיב אַהֲרֹן אֶת הַשָּׂעִיר אֲשֶׁר עָלָה עָלָיו הַגּוֹרָל לַי־הֹוָ־ה וְעָשָׂהוּ חַטָּאת:
      (ט) ועשהו חטאת - כשמניח הגורל עליו קורא לו שם ואומר לה' חטאת:
      (י) וְהַשָּׂעִיר אֲשֶׁר עָלָה עָלָיו הַגּוֹרָל לַעֲזָאזֵל יָעֳמַד חַי לִפְנֵי יְ־הֹוָ־ה לְכַפֵּר עָלָיו לְשַׁלַּח אֹתוֹ לַעֲזָאזֵל הַמִּדְבָּרָה:
      (י) יעמד חי - כמו יעמד חי על ידי אחרים, ותרגומו יתקם כד חי. מה תלמוד לומר חי, לפי שנאמר לשלח אותו לעזאזל, ואיני יודע שילוחו אם למיתה אם לחיים, לכך נאמר יעמד חי, עמידתו חי עד שישתלח, מכאן ששילוחו למיתה: לכפר עליו - שיתודה עליו, כדכתיב (פסוק כא) והתודה עליו וגו':
      (יא) וְהִקְרִיב אַהֲרֹן אֶת פַּר הַחַטָּאת אֲשֶׁר לוֹ וְכִפֶּר בַּעֲדוֹ וּבְעַד בֵּיתוֹ וְשָׁחַט אֶת פַּר הַחַטָּאת אֲשֶׁר לוֹ:
      (יא) וכפר בעדו וגו' - וידוי שני עליו ועל אחיו הכהנים, שהם כלם קרוים ביתו, שנאמר (תהלים קלה יט) בית אהרן ברכו את ה' וגו', מכאן שהכהנים מתכפרים בו, וכל כפרתן אינה אלא על טומאת מקדש וקדשיו, כמו שנאמר (פסוק טז) וכפר על הקדש מטומאות וגו':
      (יב) וְלָקַח מְלֹא הַמַּחְתָּה גַּחֲלֵי אֵשׁ מֵעַל הַמִּזְבֵּחַ מִלִּפְנֵי יְ־הֹוָ־ה וּמְלֹא חָפְנָיו קְטֹרֶת סַמִּים דַּקָּה וְהֵבִיא מִבֵּית לַפָּרֹכֶת:
      (יב) מעל המזבח - החיצון: מלפני ה' - מצד שלפני הפתח והוא צד מערבי: דקה - מה תלמוד לומר דקה, והלא כל הקטורת דקה היא, שנאמר (שמות ל לו) ושחקת ממנה הדק, אלא שתהא דקה מן הדקה, שמערב יום הכפורים היה מחזירה למכתשת:
      (יג) וְנָתַן אֶת הַקְּטֹרֶת עַל הָאֵשׁ לִפְנֵי יְ־הֹוָ־ה וְכִסָּה עֲנַן הַקְּטֹרֶת אֶת הַכַּפֹּרֶת אֲשֶׁר עַל הָעֵדוּת וְלֹא יָמוּת:
      (יג) על האש - שבתוך המחתה: ולא ימות - הא אם לא עשאה כתקנה, חייב מיתה:
      (יד) וְלָקַח מִדַּם הַפָּר וְהִזָּה בְאֶצְבָּעוֹ עַל פְּנֵי הַכַּפֹּרֶת קֵדְמָה וְלִפְנֵי הַכַּפֹּרֶת יַזֶּה שֶׁבַע פְּעָמִים מִן הַדָּם בְּאֶצְבָּעוֹ:
      (יד) והזה באצבעו - הזאה אחת במשמע: ולפני הכפרת יזה שבע - הרי אחת למעלה ושבע למטה:
      (טו) וְשָׁחַט אֶת שְׂעִיר הַחַטָּאת אֲשֶׁר לָעָם וְהֵבִיא אֶת דָּמוֹ אֶל מִבֵּית לַפָּרֹכֶת וְעָשָׂה אֶת דָּמוֹ כַּאֲשֶׁר עָשָׂה לְדַם הַפָּר וְהִזָּה אֹתוֹ עַל הַכַּפֹּרֶת וְלִפְנֵי הַכַּפֹּרֶת:
      (טו) אשר לעם - מה שהפר מכפר על הכהנים מכפר השעיר על ישראל, והוא השעיר שעלה עליו הגורל לשם: כאשר עשה לדם הפר - אחת למעלה ושבע למטה:
      (טז) וְכִפֶּר עַל הַקֹּדֶשׁ מִטֻּמְאֹת בְּנֵי יִשְׂרָאֵל וּמִפִּשְׁעֵיהֶם לְכָל חַטֹּאתָם וְכֵן יַעֲשֶׂה לְאֹהֶל מוֹעֵד הַשֹּׁכֵן אִתָּם בְּתוֹךְ טֻמְאֹתָם:
      (טז) מטמאת בני ישראל - על הנכנסין למקדש בטומאה ולא נודע להם בסוף, שנאמר לכל חטאתם, וחטאת היא שוגג: ומפשעיהם - אף הנכנסין מזיד בטומאה: וכן יעשה לאהל מועד - כשם שהזה משניהם בפנים אחת למעלה ושבע למטה, כך מזה על הפרוכת מבחוץ משניהם אחת למעלה ושבע למטה: השכן אתם בתוך טמאתם - אף על פי שהם טמאים שכינה ביניהם:
      (יז) וְכָל אָדָם לֹא יִהְיֶה בְּאֹהֶל מוֹעֵד בְּבֹאוֹ לְכַפֵּר בַּקֹּדֶשׁ עַד צֵאתוֹ וְכִפֶּר בַּעֲדוֹ וּבְעַד בֵּיתוֹ וּבְעַד כָּל קְהַל יִשְׂרָאֵל:
       
       (יח) וְיָצָא אֶל הַמִּזְבֵּחַ אֲשֶׁר לִפְנֵי יְ־הֹוָ־ה וְכִפֶּר עָלָיו וְלָקַח מִדַּם הַפָּר וּמִדַּם הַשָּׂעִיר וְנָתַן עַל קַרְנוֹת הַמִּזְבֵּחַ סָבִיב:
      (יח) אל המזבח אשר לפני ה' - זה מזבח הזהב שהוא לפני ה' בהיכל. ומה תלמוד לומר ויצא, לפי שהזה ההזאות על הפרוכת ועמד מן המזבח ולפנים והזה, ובמתנות המזבח הזקיקו לצאת מן המזבח ולחוץ, ויתחיל מקרן מזרחית צפונית: וכפר עליו - ומה היא כפרתו, ולקח מדם הפר ומדם השעיר, מעורבין זה לתוך זה:
      (יט) וְהִזָּה עָלָיו מִן הַדָּם בְּאֶצְבָּעוֹ שֶׁבַע פְּעָמִים וְטִהֲרוֹ וְקִדְּשׁוֹ מִטֻּמְאֹת בְּנֵי יִשְׂרָאֵל:
      (יט) והזה עליו מן הדם - אחר שנתן מתנות באצבעו על קרנותיו, מזה שבע הזאות על גגו: וטהרו - ממה שעבר: וקדשו - לעתיד לבא:
      (כ) וְכִלָּה מִכַּפֵּר אֶת הַקֹּדֶשׁ וְאֶת אֹהֶל מוֹעֵד וְאֶת הַמִּזְבֵּחַ וְהִקְרִיב אֶת הַשָּׂעִיר הֶחָי:
       
      (כא) וְסָמַךְ אַהֲרֹן אֶת שְּׁתֵי [ידו] יָדָיו עַל רֹאשׁ הַשָּׂעִיר הַחַי וְהִתְוַדָּה עָלָיו אֶת כָּל עֲוֹנֹת בְּנֵי יִשְׂרָאֵל וְאֶת כָּל פִּשְׁעֵיהֶם לְכָל חַטֹּאתָם וְנָתַן אֹתָם עַל רֹאשׁ הַשָּׂעִיר וְשִׁלַּח בְּיַד אִישׁ עִתִּי הַמִּדְבָּרָה:
      (כא) איש עתי - המוכן לכך מיום אתמול:
      (כב) וְנָשָׂא הַשָּׂעִיר עָלָיו אֶת כָּל עֲוֹנֹתָם אֶל אֶרֶץ גְּזֵרָה וְשִׁלַּח אֶת הַשָּׂעִיר בַּמִּדְבָּר:
       
      (כג) וּבָא אַהֲרֹן אֶל אֹהֶל מוֹעֵד וּפָשַׁט אֶת בִּגְדֵי הַבָּד אֲשֶׁר לָבַשׁ בְּבֹאוֹ אֶל הַקֹּדֶשׁ וְהִנִּיחָם שָׁם:
      (כג) ובא אהרן אל אהל מועד - אמרו רבותינו, שאין זה מקומו של מקרא זה, ונתנו טעם לדבריהם במסכת יומא (דף לב א) ואמרו כל הפרשה כולה אמורה על הסדר, חוץ מביאה זו, שהיא אחר עשיית עולתו ועולת העם והקטרת אימורי פר ושעיר שנעשים בחוץ בבגדי זהב, וטובל ומקדש ופושטן ולובש בגדי לבן: ובא אל אהל מועד - להוציא את הכף ואת המחתה שהקטיר בה הקטרת לפני ולפנים: ופשט את בגדי הבד - אחר שהוציאם ולובש בגדי זהב לתמיד של בין הערבים. וזהו סדר העבודות תמיד של שחר בבגדי זהב, ועבודת פר ושעיר הפנימים וקטרת של מחתה בבגדי לבן, ואילו ואיל העם ומקצת המוספין בבגדי זהב, והוצאת כף ומחתה בבגדי לבן, ושעירי [ושיירי] המוספין ותמיד של בין הערבים וקטורת ההיכל שעל מזבח הפנימי בבגדי זהב. וסדר המקראות לפי סדר העבודות כך הוא ושלח את השעיר במדבר, ורחץ את בשרו במים וגו' ויצא ועשה את עולתו וגו' ואת חלב החטאת וגו'. וכל הפרשה עד ואחרי כן יבא אל המחנה, ואחר כך ובא אהרן: והניחם שם - מלמד שטעונין גניזה, ולא ישתמש באותן ארבעה בגדים ליום כפורים אחר:
      (כד) וְרָחַץ אֶת בְּשָׂרוֹ בַמַּיִם בְּמָקוֹם קָדוֹשׁ וְלָבַשׁ אֶת בְּגָדָיו וְיָצָא וְעָשָׂה אֶת עֹלָתוֹ וְאֶת עֹלַת הָעָם וְכִפֶּר בַּעֲדוֹ וּבְעַד הָעָם:
      (כד) ורחץ את בשרו וגו' - למעלה למדנו מורחץ את בשרו ולבשם (פסוק ד), שכשהוא משנה מבגדי זהב לבגדי לבן טעון טבילה, שבאותה טבילה פשט בגדי זהב שעבד בהן עבודת תמיד של שחר ולבש בגדי לבן לעבודת היום, וכאן למדנו שכשהוא משנה מבגדי לבן לבגדי זהב טעון טבילה: במקום קדוש - המקודש בקדושת עזרה והיא היתה בגג בית הפרוה, וכן ארבע טבילות הבאות חובה ליום, אבל הראשונה היתה בחול: ולבש את בגדיו - שמנה בגדים שהוא עובד בהן כל ימות השנה: ויצא - מן ההיכל אל החצר שמזבח העולה שם: ועשה את עלתו - איל לעולה האמור למעלה (פסוק ג) בזאת יבא אהרון וגו': ואת עלת העם - ואיל אחד לעולה האמור למעלה (פסוק ה) ומאת עדת בני ישראל וגו':
      </p>
    </div>
  </div>
</div>
    
      
      
      <!--table id="lesson" style="text-align: right !important;">
        <tr>
          <th class="cell-table index"> </th>
          <th class="cell-table-big">שם השיעור</th>
          <th class="cell-table-big">פרטים</th>
          <th class="cell-table-big type">לינק</th>
        </tr>
        <tr class="row-table yyAllLessons">
          <td class="cell-table index"> 1 </td>
          <td class="cell-table-big type">title MyDesc Text</td>
          <td class="cell-table-big type">parasha humash cheleck </td>
          <td class="cell-table-big">קישור כאן<a href="" target="_blank"> טקסט קישור</a></td>
        </tr>
      </table
    <app-audio-comps srcAudio=https://tanyayomi.com/%D7%93%D7%91%D7%A8-%D7%9E%D7%9C%D7%9B%D7%95%D7%AA-%D7%AA%D7%A8%D7%95%D7%9E%D7%94-%D7%93.mp3></app-audio-comps>
    --> 