
<div id="theList" class="w3-third w3-right">
  <h2 style="height: 30px;">רשימת השיעורים המלאה</h2>
  <div id="row-whatsapp" class="w3-center lesson">
    <h3>
      <a class="w3-center fa" id="linkWhatapp"  href="https://chat.whatsapp.com/FZjM4iESdL71p7uctLrN3M">
        &#xf232;
        לחצו לקבלת שיעורים חדשים לווצאפ
      </a>
    </h3>
  </div>
  
  <div class="row lesson" >
    <label id="id0">
      <h3>חומש לדוגמה</h3>
    </label>
  </div>  
</div> 

<div class="w3-twothird yy-height100-parsent yyMinHeight860px" id="descriptionArea">
  <div class="w3-third" id='wrap-app-sreach-comps'>
    <app-sreach-comps></app-sreach-comps>
  </div>
    <div id="tableParasha" class="w3-twothird">
      <h2>חומש</h2>
      <div class="w3-row">
          <div class="w3-col m2 w3-center" >
            <h4>בראשית</h4> 
            <h6 (click)=playMidrasha() >בראשית</h6 >
            <h6>נח</h6> 
            <h6>לך לך</h6> 
            <h6>וירא</h6> 
            <h6>חיי שרה</h6> 
            <h6>תולדות</h6> 
            <h6>ויצא</h6> 
            <h6>וישלח</h6> 
            <h6>וישב</h6> 
            <h6>מקץ</h6>
            <h6>וישב</h6> 
            <h6>ויגש</h6> 
            <h6>ויחי</h6> 
          </div>

          <div class="w3-col m2 w3-center" >
            <h4>שמות</h4> 
            <h6>שמות</h6> 
            <h6>וארא</h6> 
            <h6>בא</h6> 
            <h6>בשלח</h6> 
            <h6>יתרו</h6> 
            <h6>משפטים</h6> 
            <h6>תרומה</h6> 
            <h6>תצוה</h6> 
            <h6>כי תישא</h6> 
            <h6>ויקהל</h6> 
            <h6>פקודי</h6> 
          </div>

          <div class="w3-col m2 w3-center" >
            <h4>ויקרא</h4> 
            <h6>ויקרא</h6> 
            <h6>צו</h6> 
            <h6>שמיני</h6> 
            <h6>תזריע</h6> 
            <h6>מצורע</h6> 
            <h6>אחרי מות</h6> 
            <h6>קדושים</h6> 
            <h6>אמור</h6> 
            <h6>בהר</h6> 
            <h6>בחוקתי</h6> 
          </div>

          <div class="w3-col m2 w3-center" >
            <h4>במדבר</h4> 
            <h6>במדבר</h6> 
            <h6>נשא</h6> 
            <h6>בהעלותך</h6> 
            <h6>שלח</h6> 
            <h6>קרח</h6> 
            <h6>חקת</h6> 
            <h6>בלק</h6> 
            <h6>פנחס</h6> 
            <h6>מטות</h6> 
            <h6>מסעי</h6> 
          </div>

          <div class="w3-col m2 w3-center" >
            <h4>דברים</h4> 
            <h6>דברים</h6> 
            <h6>ואתחנן</h6> 
            <h6>עקב</h6> 
            <h6>ראה</h6> 
            <h6>שופטים</h6> 
            <h6>כי תצא</h6> 
            <h6>כי תבוא</h6> 
            <h6>ניצבים</h6> 
            <h6>וילך</h6> 
            <h6>האזינו</h6> 
            <h6>וזאת הברכה</h6> 
          </div>

          <!--table id="lesson" style="text-align: right !important;">
            <tr>
              <th class="cell-table index"> </th>
              <th class="cell-table-big">שם השיעור</th>
              <th class="cell-table-big">פרטים</th>
              <th class="cell-table-big type">לינק</th>
            </tr>
            <tr class="row-table yyAllLessons">
              <td class="cell-table index"> 1 </td>
              <td class="cell-table-big type">title MyDesc Text</td>
              <td class="cell-table-big type">parasha humash cheleck </td>
              <td class="cell-table-big">קישור כאן<a href="" target="_blank"> טקסט קישור</a></td>
            </tr>
          </table-->          
    
    </div>
  </div>
</div>

          