<div class=""><!--TODO:COMPONNET-->
    <div class="date">
        <p id="showDate">היום</p>
    </div>
    <div *ngFor="let lesson1 of AllLessons" class="w3-panel">
        <div class='lesson' >
            <div class="w3-third w3-right">
            <div class="label">
                <label><h3 (click) = toggleDisplay()>{{lesson1['sug']}} {{lesson1['title']}}</h3></label>
            </div>
            <div class="content">
                <p>{{lesson1['mydesc']}}</p><br>
            </div>
            <div class="link">
                <p>{{lesson1['audio']}}</p><br>
            </div>
            <div class="audio">
                <audio controls name="media">
                    <source src='{{lesson1["audio"]}}' type="audio/mp3">
                </audio>
            </div>
            <p style="display:none;">{{lesson1["date"]}}</p>
        </div>
            <div class="text w3-twothird" [hidden] = "isShow">
                <p>{{lesson1['text']}}</p><br>
            </div>
        </div>
    </div>
</div>


