<div class="w3-third w3-right"><!--TODO:COMPONNET-->
    <div class="date">
        <p id="showDate">היום</p>
    </div>
    <div *ngFor="let lesson1 of AllLessons; let i = index" class="row">
        <div (click) = "toggleDisplay(lesson1)" class="lesson">
            <label ><h3>{{lesson1['sug']}}</h3></label>
        </div>
    </div>
</div>
<div class="text w3-twothird w3-panel w3-left">
    <div class="w3-row">
    <div class="w3-third w3-right">
        <label><h3>{{yyOneLesson['sug']}} {{yyOneLesson['title']}}</h3></label>
    </div>
</div>
<div class="w3-row">
    <p>{{yyOneLesson['mydesc']}}</p>
    <audio controls name="media" id="player" >
        <source id="player12" src={{yyOneLesson["audio"]}} type="audio/mp3">
    </audio>
</div>
<div class="w3-row">
    <p>{{yyOneLesson['text']}}</p>
</div>
</div>
        

