<div class="w3-third w3-right"><!--TODO:COMPONNET-->
    <div class="date">
        <p id="showDate">היום</p>
    </div>
    <h5 style="background-color:#25D366" >
        לקבלת שיעורים מידי יום לווצאפ
        <a href="https://chat.whatsapp.com/I29iEy4gsT9FeUkYL9HF3A">לחצו כאן</a>
    </h5>
    <div *ngFor="let lesson1 of AllLessons; let i = index" class="row">
        <div (click) = "toggleDisplay(lesson1, 'id'+i)" class="lesson" [id]="'id'+i">
            <label ><h3>{{lesson1['sug']}}</h3></label>
        </div>
    </div>
</div>
<div class="text w3-twothird w3-panel w3-left" id="DetailsArea">
    <div class="w3-row">
        <div >
            <label><h3>{{yyOneLesson['sug']}} {{yyOneLesson['title']}}</h3></label>
        </div>
    </div>
    <div class="w3-row ">
        <p>{{yyOneLesson['mydesc']}}</p>
        <audio controls name="media" id="player" >
            <source id="player12" src={{yyOneLesson["fullUrl"]}} type="audio/mp3">
        </audio>
    </div>
    <div class="w3-row">
        <p>{{yyOneLesson['text']}}</p>
    </div>
</div>
        

