.date {
    text-align: center;
}
.date p {
    background-color: rgba(225,245,254,.92);
    width: 40%;
    border: 5px;
    border-radius: 5px;
    margin: 10px 30%;
}
p{
    font-size: 18px;
}
.w3-third{
    background-color: #dadada;
}
.yy-active{
    background-color:#00FFFF;
}